<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="pt.ptinovacao.arqospocket">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_UPDATES"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.CONTROL_INCALL_EXPERIENCE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.STORAGE" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
    <permission android:name="android.permission.REBOOT"/>

    <uses-permission-sdk-23 android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>

    <application
        android:name=".ArQosApplication"
        android:allowBackup="true"
        android:icon="@mipmap/arqos_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/arqos_icon"
        android:supportsRtl="true"

        android:theme="@style/AppTheme">
        <activity
            android:name=".LauncherActivity"
            tools:ignore="GoogleAppIndexingWarning">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".views.dashboard.DashboardActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".views.anomaly.AnomalyActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".views.anomalyhistoric.anomalydetails.AnomalyDetailsActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".views.anomalyhistoric.AnomalyHistoricActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".views.tests.TestsActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".views.testshistoric.TestsHistoricActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".views.radiologs.RadiologsActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".views.radiologshistoric.radiologsdetails.RadiologsDetailsActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".views.radiologshistoric.RadiologsHistoricActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".views.settings.SettingsActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".views.help.HelpActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".views.testshistoric.testsdetails.TaskDetailsActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".views.tests.testsdetails.TestsDetailsActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>

        <receiver
            android:name=".scheduler.ScheduledTestReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="pt.ptinovacao.arqospocket.service.alarm.action.EXECUTE_TEST"/>
                <action android:name="pt.ptinovacao.arqospocket.core.maintenance.action.EXECUTE_CLEANUP"/>
            </intent-filter>
        </receiver>

        <service
            android:name=".scheduler.ScheduledTestService"
            android:exported="false"/>

        <receiver
            android:name=".boot.BootInitializationReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <service
            android:name=".boot.BootAlarmRestoreService"
            android:exported="false"/>

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyA7et6S7tPfdMl8waap8SiucoTOn0CijJY"/>

        <receiver
            android:name=".messaging.SmsReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BROADCAST_SMS">
            <intent-filter android:priority="999">
                <action android:name="android.provider.Telephony.SMS_RECEIVED"/>
            </intent-filter>
        </receiver>

        <service
            android:name=".messaging.SmsService"
            android:exported="false">
        </service>
    </application>

</manifest>